/*
Arquivo de estilos
*/

body {
background: url('../img/bg1.jpg') no-repeat fixed center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.item{
cursor: pointer;
 border: 4px solid red;
 border-color: #ff0000 #0000ff;
opacity: 0.5;}

.container{
}

.header_menu{
float:right;

}

.center_menu{
height:35px;
}

.footer{
}

.list-vertical{
z-index:3;
float:left;
list-style-type: none;
}

.list-horizontal li{
display: inline;
background:white;
text-align:center;
border-radius: 10px;
}

.list-horizontal{

}
