@charset "utf-8";
/*
Trabalho de avaliação  WebDesign
Folha de estilos
By: Isvaldo Fernades Souza, Guilherme d Avila Vertein
*/


/*Configuração global*/
body {
    font-family:Verdana, Geneva, sans-serif;
    background: #000000;
}

#container {
	max-width:960px;  /* largura indicada para resolução 1024 */
	margin:auto;  /* centraliza na horizontal */	
}


.logo{
    width: 100% !important;
}

.logosobre{
    width: 100% !important;
    opacity: 0.5;
}


nav ul li {
    /*Alinhamento dos itens do menu*/
	float:left;
}

nav ul li a {
	display:block;   /* transforma o link em caixa */
	text-decoration:none; /* retira o sublinhado do link */
	width:160px; /* largura de cada item - 960px dividido por 6 itens */
	text-align:center; /* centraliza o texto */
	background-color: #247f97; /* cor de fundo */
	padding:5px 0; /* margem interna apenas em cima e embaixo (top e bottom) */	
	color:#FFF; /* cor da letra */
	border:1px #000000 solid;
	box-sizing:border-box; /* evita que borda e padding sejam acrescentadas ao tamanho */
}
nav ul li a:hover {
	background-color: #bc84ff;
	color: #0a2a89;
 }

/*  Exemplos de padding (serve para margin tb)
	padding:5px 0; = top e bottom=5px / right e left=0
	padding:15px 10px 5px 7px; = sentido horário:top=15px,right=10px,bottom=5px e left=7px
	padding:10px; = margem interna de 10px em todos os lados
	padding:10px 5px 5px; top=10px, right e left=5px, bottom=5px */
	
	
main {
	clear:both; /* evita o contágio do float dos itens do menu*/
}


/*Configuração de posicionamento*/
.center{
    width:960px; /* a largura permite que a caixa seguinte fique ao lado */
    box-sizing:border-box; /* evita que o padding e border sejam considerados na largura ou altura */
    padding:10px;
    height:auto;
    min-height:30px;
}

.left {
	background-color:#633;
	height:400px;
	width:480px; /* a largura permite que a caixa seguinte fique ao lado */
	float:left;  /* o float de fato faz com que a caixa seguinte suba */
	box-sizing:border-box; /* evita que o padding e border sejam considerados na largura ou altura */
	padding:10px;
}
.right {
	background-color:#663;
	height:400px;
	width:480px; /* a largura permite que a caixa caiba ao lado da anterior */
	float:right; /* o float faz com que fique ao lado e não embaixo da caixa anterior*/
	box-sizing:border-box; /* evita que o padding e border sejam considerados na largura ou altura */
	padding:10px;
}



/*Layout Especifico*/

.article-img{
    float:left;
    cursor:pointer;
    border:1px #247f97 solid;
    margin-right: 5px;
}
.article-iframe{
    float:left;
    margin-right: 10px;
}
/*Section, configuração de blocos*/
section{
    color:#FFFFFF;
    clear:both;
}

section h1{
    text-align: center;
}

/*configuração de article*/
article,h1{
    clear:both;
    margin: 10px;
    color: #ffffff;
}

p{
    font-family: sans-serif;
    font-size: 19px;
    letter-spacing: 1px;
}
figure figcaption{clear:both;}
figure ul li:hover{
    background: #106d2c;
    font-weight: bold;
    font-size: 18px;
    cursor:pointer;
}

.title{
    font-family: sans-serif;
    letter-spacing: 2px;

}
.big{
    font-size: 50px;
}
.medio {
    font-size: 30px;
}
.updated{
    font-family: sans-serif;
    font-size: 18px;

}
.discografia{
    list-style-type: none;
}

.galeria-img{
    float:left;
    cursor:pointer;
    border:1px #247f97 solid;
    margin:10px;
    opacity: 0.7;
}

/*Configuração forms*/
#contactform{
    width:950px;
    opacity: 0.7;
    /*background: #247f97;*/
    margin:20px 0;
    padding:10px;
    border: 1px solid #247f97;
    border-radius:10px;
    box-shadow: 0 0 10px rgba(0,0,0, .65);
    font-family: Arimo, Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}
#contactform fieldset{
    border:none;
}
#contactform legend{
    display:none;
}
#contactform input, #contactform textarea{
    display:block;
}

#contactform label {
    padding:4px 10px 4px 4px;
    font-size:1.2em;
    color:#fff;
}

#contactform p{
    font-size:85%;
    line-height:1.6em;
    margin-bottom:15px;
    color:#444;
}

#contactform h3{
    font-weight:normal;
    margin:0 0 30px 0;
    color:#fff;
    font-family: 'Happy Monkey', Arial, Helvetica, sans-serif;
    text-shadow: 0px 1px 1px #555;
    font-size:1.6em;
    letter-spacing:.05em;
}


#contactform input, #contactform textarea{
    background:#e4e2ce;
    margin-bottom:20px;
    margin-top:5px;
    padding:5px;
    border:2px solid #3084a4;
    border-radius:5px;
    font-family: Arimo, Verdana, Arial, Helvetica, sans-serif;
    font-size:1.1em;
}

#contactform input#nome, #contactform input#email,#contactform input#nascimento{
    width:500px;
}

#contactform textarea#message{
    width:500px;
    height:200px;
}


#contactform textarea#message{
    background-position: 98% 99%;
    background-repeat: no-repeat;
    background-color: #e4e2ce;
}


#contactform input:focus, #contactform textarea:focus{
    border:2px solid #b21d1f;
    background:#fff;
}


#contactform input#sendbutton {
    background: #3084a4;
    border:1px solid #3084a4;
    color:#fff;
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
    padding:5px 10px;
    font-size:1.2em;
    margin-left:30px;
    border-radius:5px;
    box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 4px 4px #5d6257;
}

#contactform input#sendbutton:active{
    border:1px solid #3084a4;
}

#contactform input#sendbutton:hover, #contactform input#sendbutton:focus{
    box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 1px 4px #5d6257;
    cursor:pointer;
}

.mensagem{
    float: left;
    margin:20px;
}

/*configuração de footer*/
footer {
    background-color: #247f97;
    border-radius: 10px;
    opacity: 0.6;
    height:15px;
    clear:both; /* vacina anti-float - retira o contágio do float */
}
