@charset "utf-8";
/*
Trabalho de avaliação  WebDesign
Folha de estilos
By: Isvaldo Fernades Souza, Guilherme d Avila Vertein
*/


/*Configuração global*/
body {
    font-family:Verdana, Geneva, sans-serif;
    background: #000000;
}

#container {
	max-width:960px;  /* largura indicada para resolução 1024 */
	margin:auto;  /* centraliza na horizontal */	
}


.logo{
    width: 100% !important;
}

.logosobre{
    width: 100% !important;
    opacity: 0.5;
}


nav ul li {
    /*Alinhamento dos itens do menu*/
	float:left;
}

nav ul li a {
	display:block;   /* transforma o link em caixa */
	text-decoration:none; /* retira o sublinhado do link */
	width:160px; /* largura de cada item - 960px dividido por 6 itens */
	text-align:center; /* centraliza o texto */
	background-color: #247f97; /* cor de fundo */
	padding:5px 0; /* margem interna apenas em cima e embaixo (top e bottom) */	
	color:#FFF; /* cor da letra */
	border:1px #000000 solid;
	box-sizing:border-box; /* evita que borda e padding sejam acrescentadas ao tamanho */
}
nav ul li a:hover {
	background-color: #bc84ff;
	color: #0a2a89;
 }

/*  Exemplos de padding (serve para margin tb)
	padding:5px 0; = top e bottom=5px / right e left=0
	padding:15px 10px 5px 7px; = sentido horário:top=15px,right=10px,bottom=5px e left=7px
	padding:10px; = margem interna de 10px em todos os lados
	padding:10px 5px 5px; top=10px, right e left=5px, bottom=5px */
	
	
main {
	clear:both; /* evita o contágio do float dos itens do menu*/
}


/*Configuração de posicionamento*/
.center{
    width:960px; /* a largura permite que a caixa seguinte fique ao lado */
    box-sizing:border-box; /* evita que o padding e border sejam considerados na largura ou altura */
    padding:10px;
    height:auto;
    min-height:30px;
}

.left {
	background-color:#633;
	height:400px;
	width:480px; /* a largura permite que a caixa seguinte fique ao lado */
	float:left;  /* o float de fato faz com que a caixa seguinte suba */
	box-sizing:border-box; /* evita que o padding e border sejam considerados na largura ou altura */
	padding:10px;
}
.right {
	background-color:#663;
	height:400px;
	width:480px; /* a largura permite que a caixa caiba ao lado da anterior */
	float:right; /* o float faz com que fique ao lado e não embaixo da caixa anterior*/
	box-sizing:border-box; /* evita que o padding e border sejam considerados na largura ou altura */
	padding:10px;
}



/*Layout Especifico*/

.article-img{
    float:left;
    margin-right: 5px;
}
.article-iframe{
    float:left;
    margin-right: 10px;
}
/*Section, configuração de blocos*/
section{
    color:#FFFFFF;
}

section h1{
    text-align: center;
}

/*configuração de article*/
article,h1{
    clear:both;
    margin: 10px;
    color: #ffffff;
}

figure figcaption{clear:both;}



.discografia{
    list-style-type: none;
}

.galeria-img{
    float:left;
    cursor:pointer;
    border:1px #247f97 solid;
    margin:10px;
    opacity: 0.7;
}
/*configuração de footer*/

footer {
    background-color: #5270ff;
    opacity: 0.6;
    height:15px;
    clear:both; /* vacina anti-float - retira o contágio do float */
}
