<h3>Preencha com uma lista separada por virgula</h3>
        <p>ex: 1,2,5,6,7</p>
{{=form}}


       {{try:}}
        <h1>{{if valor:
        }}Resposta:{{=valor}} {{pass}}</h1>
        {{except:}}
        {{pass}}
        <h3>Codigo Simplificado</h3>

         <pre>
def max_array(array):
    if len(array) == 1: return array[0]
    array[1] = array[0] if array[0] > array[1] else array[1]
    return max_array(array[1:])
        </pre>
        <a target="_blank" href="https://github.com/isvaldo/Trabalhos-Faculdade/blob/master/Estrutura%20de%20dados%20II/web2py/applications/welcome/controllers/default.py">
            Veja o Codigo Completo e comentado
        </a>
         <h3>Funcionamento Passo a Passo</h3>
        <iframe width="800" height="500" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=def+max_array(array)%3A%0A++++if+len(array)+%3D%3D+1%3A+return+array%5B0%5D%0A++++array%5B1%5D+%3D+array%5B0%5D+if+array%5B0%5D+%3E+array%5B1%5D+else+array%5B1%5D%0A++++return+max_array(array%5B1%3A%5D)%0A++++%0A++++%0Aprint+max_array(%5B1,99,78,45,21,5,6,0,0,2,5,6,7,8,9,4%5D)%0A&origin=opt-frontend.js&cumulative=true&heapPrimitives=true&textReferences=true&py=2&rawInputLstJSON=%5B%5D&curInstr=68&codeDivWidth=350&codeDivHeight=400"> </iframe>
