{{extend 'layout.html'}}

{{block header}}
<header class="container-fluid background{{=templete}}">
    <div class="jumbotron text-center">
    {{if response.title:}}
        <h1 id="powerOn">Recursão
            <small></small>
        </h1>
    {{pass}}
    </div>
</header>
{{end}}


<div class="row">
    <div class="col-md-4">
        <h2 class="text-center">Selecione o Exercicio</h2>
    {{=form}}
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title">
        <i class="glyphicon glyphicon-cog"></i>Algoritmo
    </h3></div>
    <div class="panel-body" id="ex">
        <h3>Grupo</h3>
        <ul>
            <li><b>Isvaldo fernandes de souza</b> </li>
            <li><b>Johan monteiro</b> </li>
            <li><b>Yan Carvalhal</b> </li>

        </ul>
    <h2>Instruções</h2>
     <p> Selecione o algoritmo, preencha o formulario para testar o codigo ou execute passo a passo. Você quem escolhe (:</p>

    <h1>O Codigo esta no link abaixo de cada programa !!! o codigo completo no github !!
    </h1>

        <h2>
            <a target="_blank" href="https://github.com/isvaldo/Trabalhos-Faculdade/blob/master/Estrutura%20de%20dados%20II/web2py/applications/welcome/controllers/default.py">
            Veja o Codigo Completo e comentado
        </a>
            </h2>

    </div>




</div>

<script type="application/javascript">
    $(document).ready(function () {

        $("#no_table_select").change(function () {

            switch (this.value){
                case 'MDC NAO RECURSIVO':
                        web2py_component("max_no_recursive","ex");
                    break;

                case 'MAIOR NUMERO':
                        web2py_component("get_max","ex");
                    break;

                 case 'MDC RECURSIVO':
                        web2py_component("max_recursive","ex");
                    break;

                case 'QUICKSORT':
                        web2py_component("quicksort","ex");
                    break;
                case 'BOLHA (lista Encadeada)':
                        web2py_component("bolha","ex");
                    break;


                default:
                    alert("valor invalido");
                    break;

            }
        });

    });
</script>