
<h3>MDC não recursivo</h3>
{{=form}}
        {{try:}}
        <h1>{{if valor:
        }}Resposta:{{=valor}}{{pass}}</h1>
        {{except:}}
        {{pass}}
        <h3>Codigo simplificado</h3>
        <pre>
def mdc(a, b):
    while True:
        if a % b == 0: return b
        a, b = b, a % b
        </pre>
        <a target="_blank" href="https://github.com/isvaldo/Trabalhos-Faculdade/blob/master/Estrutura%20de%20dados%20II/web2py/applications/welcome/controllers/default.py">
            Veja o Codigo Completo e comentado
        </a>

        <h3>Funcionamento Passo a Passo</h3>
        <iframe width="800" height="500" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=def+mdc(a,+b)%3A%0A++++while+True%3A%0A++++++++if+a+%25+b+%3D%3D+0%3A+return+b%0A++++++++a,+b+%3D+b,+a+%25+b%0A++++++++%0Aprint+mdc(48,30)%0A&origin=opt-frontend.js&cumulative=true&heapPrimitives=true&textReferences=true&py=2&rawInputLstJSON=%5B%5D&curInstr=0&codeDivWidth=350&codeDivHeight=400"> </iframe>
